.dashboard-cards {
  margin-bottom: 10px;
}

.card-title{
  margin-bottom: 0;
}

.sub-card {
  width: 122.17px;
  height: 50px;
}

.sub-card-body {
  padding: 0;
}

.sub-card-title {
  font-size: 13px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.dashboard-image {
  max-height: 50px;
  object-fit: scale-down;
}

.dashboard-explore-list {
  font-size: 13px;
}

.dashboard-explore-image {
  max-height: 30px;
  object-fit: scale-down;
  margin-right: 5px;
}

.see-more-btn {
  margin: 5px 0;
}

.welcome-back {
  margin-top: 5px;
}

.pointer {
  cursor: pointer;
}

@media (max-width: 768px) {
  .card-body {
    padding: 0;
  }
}

@media (min-width: 768px) {
  .dashboard-container {
    margin-top: 60px;
  }

  .sub-card {
    width: 100%;
    height: 75px;
  }

  .sub-card-title {
    font-size: 15px;
  }

  .dashboard-image {
    max-height: 75px;
  }

  .dashboard-explore-list {
    font-size: 14px;
  }

  .dashboard-explore-image {
    max-height: 55px;
    object-fit: scale-down;
    margin-right: 5px;
  }

  .welcome-back {
    margin-top: none;
  }
}

@media (min-width: 992px) {
  .dashboard-container {
    margin-top: 24.5px;
  }

  .dashboard-cards {
    margin-bottom: 24px;
  }

  .tlt-card {
    width: 80%;
  }

  .dashboard-image {
    max-height: 50px;
  }

  .sub-card {
    width: 80%;
    height: 50px;
  }

  .dashboard-card-footer {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}